/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* resetcss acima*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
:root {
  --cor-primaria: #272727;
  --cor-secundaria: #7c7c7c;
  --cor-header: #ffffff;
  --cor-forte: #042d62;
  --fonte-primaria: "Poppins", serif;
  --fonte-secundaria: "Ubuntu", sans-serif;
}

body {
  font-family: var(--fonte-primaria);
}

.header {
  background-color: var(--cor-header);
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.logo {
  height: 130px;
}

.abbadcancian {
  width: 200px;
}

.slideshow-container {
  position: relative;
  width: 500px; /* Ajuste a largura conforme necessário */
  height: 600px; /* Ajuste a altura conforme necessário */
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out; /* Efeito de transição suave */
  z-index: 1;
  filter: grayscale(300%) blur(1px);
}

.slide.active {
  opacity: 1;
}

.frase-slideshow {
  position: relative; /* Permite posicionar o título em relação ao contêiner */
  z-index: 2;
  font-size: 50px;
  color: #ffffff;
  text-align: center;
}

.sobre {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.sobre-palavra {
  margin-top: 4rem;
  font-size: normal;
  font-weight: 600;
  color: var(--cor-forte);
  font-family: var(--fonte-secundaria);
  font-style: normal;
  letter-spacing: 2px;
}

.palavra-grande {
  color: var(--cor-primaria);
  font-size: xx-large;
  margin-top: 2rem;
}

hr {
  border: none;
  width: 80px;
  height: 0.5px; /* Define a espessura */
  background-color: var(--cor-forte); /* Define a cor */
  margin-top: 2rem;
}

.sobre-frase {
  margin: 1rem 2rem;
  font-size: x-large;
  font-family: var(--fonte-secundaria);
  text-align: center;
  color: var(--cor-forte);
  line-height: 2rem;
  font-weight: 600;
}

.sobre-paragrafo {
  margin: 1.5rem 2rem 5rem 2rem;
  font-size: x-large;
  font-family: var(--fonte-secundaria);
  text-align: justify;
  color: var(--cor-secundaria);
  line-height: 2rem;
}

.areas_de_atuacao {
  background-color: #eeeeee;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.atuacao {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--cor-header);
  padding: 2rem;
  width: 75%;
  margin: 2rem;
}

.icones {
  color: var(--cor-forte);
  font-size: 4.5rem;
  margin-bottom: 2rem;
}

.areas_de_atuacao-titulo {
  font-size: x-large;
  font-weight: 600;
  font-family: var(--fonte-secundaria);
}

.areas_de_atuacao-descricao {
  margin-top: 2rem;
  font-size: x-large;
  text-align: center;
  font-family: var(--fonte-secundaria);
  color: var(--cor-secundaria);
  line-height: 2rem;
}

.atuacao:hover {
  background-color: var(--cor-forte);
  color: var(--cor-header);
  transition: 300ms;
}

.atuacao:hover .areas_de_atuacao-descricao {
  color: var(--cor-header);
  transition: 300ms;
}

.atuacao:hover .icones {
  color: var(--cor-header);
  transition: 300ms;
}

.atuacao:last-child {
  margin-bottom: 5rem;
}

.fale_conosco {
  background: linear-gradient(rgba(227, 227, 227, 0.6), rgba(227, 227, 227, 0.6)),
    url("./Recursos/beautiful-view-sunset-sea.jpg");
  background-size: cover; /* Ajusta a imagem para cobrir toda a section */
  background-position: center; /* Centraliza a imagem */
  background-repeat: no-repeat; /* Evita que a imagem se repita */
  height: 600px; /* Altura da section */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white; /* Cor do texto para contraste */
  text-align: center;
}

.fale_conosco-titulo {
  color: var(--cor-header);
  margin-bottom: 2rem;
}

.fale_conosco-botao {
  padding: 1.5rem;
  font-size: x-large;
  background-color:inherit;
  border: 3px solid var(--cor-forte);
  color: var(--cor-header);
  letter-spacing: 1.5px;
}

strong {
  color: #042d62;
  font-weight: 700;

}
